[build]
  publish = "."
  command = ""

[[redirects]]
  from = "/"
  to = "/main.html"
  status = 200
  force = true

[[redirects]]
  from = "/index.html"
  to = "/main.html"
  status = 200
  force = true
